@page "/sample2-3-3"
@rendermode InteractiveServer

<p> 現在時刻: @DateTime.Now </p>
<p> カウント: @currentCount </p>

<button @onclick="btnIncrement_Click">カウントアップ</button>

@code {
    int currentCount = 0;

    private void btnIncrement_Click()
    {
        currentCount++;
    }
}