@page "/sample2-4-1"
@rendermode InteractiveServer

<input type="text" @bind="name1" placeholder="Enter your name" />
<p> Hello, @name1 </p>

<input type="text" @bind="name2" placeholder="Enter your name" @bind:event="oninput" />
<p> Hello, @name2 </p>

@code {
    string name1 { get; set; } = "";
    string name2 { get; set; } = "Nobuyuki";
}