@page "/sample2-5"
@rendermode InteractiveServer

<button @onclick="btnGetMessage1_Click">メッセージを取得1</button>
<button @onclick="btnGetMessage2_Click">メッセージを取得2 (Shiftキーの状態も)</button>
<button @onclick="btnGetMessage3_Click">メッセージを取得3 (3秒待ち)</button>
<p> @Message </p>

@code {
    private string Message { get; set; } = "";

    private void btnGetMessage1_Click()
    {
        Message = "こんにちは、Blazor! " + DateTime.Now.ToString("HH:mm:ss");
    }
    private void btnGetMessage2_Click(MouseEventArgs e)
    {
        Message = "こんにちは、Blazor! " + DateTime.Now.ToString("HH:mm:ss") + " Shiftキー: " + e.ShiftKey;
    }
    private async Task btnGetMessage3_Click()
    {
        await Task.Delay(3000);
        Message = "こんにちは、Blazor!" + DateTime.Now.ToString("HH:mm:ss") + " 3秒待ちました";
    } 
}

<button @onclick='() => btnGetMessage4_Click("こんにちは、Blazor!①")'>メッセージを取得1 (引数付き)</button>
<button @onclick='() => btnGetMessage4_Click("こんにちは、Blazor!②")'>メッセージを取得2 (引数付き)</button>
<button @onclick='() => btnGetMessage4_Click("こんにちは、Blazor!③")'>メッセージを取得3 (引数付き)</button>
<p> @Message2 </p>

@code {
    private string Message2 { get; set; } = "";

    private void btnGetMessage4_Click(string message)
    {
        Message2 = message + " " + DateTime.Now.ToString("HH:mm:ss");
    }
   
}