@page "/sample2-3-1"
@using System.Globalization

<p> 今日は @DateTime.Now です。 </p>
<p> 今日は@(DateTime.Now)です。 </p>
<p> 今日は @DateTime.Now.ToString("ggyy年MM月dd日(dddd)", dtf) です。 </p>

@code {
    DateTimeFormatInfo dtf = new CultureInfo("ja-JP").DateTimeFormat;

    protected override void OnInitialized()
    {
        dtf.Calendar = new JapaneseCalendar();
    }
}