@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<hr />

@rendermode InteractiveServer
@using BlazorApp1.Components.Shared

<TextBox @ref="tbxName" PlaceholderText="名前を入力してください"></TextBox>
<Button @ref="btnDisplay" Text="メッセージを表示" OnClickCallback="btnDisplay_Click"></Button>
<Label @ref="lblMessage"></Label>

@code {
    private TextBox tbxName;
    private Label lblMessage;
    private Button btnDisplay;

    private void btnDisplay_Click()
    {
        lblMessage.Text = $"こんにちは、{tbxName.Text}さん！ " + $"現在時刻は{DateTime.Now.ToString("HH:mm:ss")}です。";
    }
}


